#user_courses_table {
	width:100%;
	cursor:pointer;
}

#user_courses_table tr td {
  padding:5px 0px;
}
div.user_courses_activities_div {
  text-align: left;
  max-width: 15em;
  *width: 10em;
  background-color: #FFF6D5;
  border: solid 1px #aa8;
  padding: 0.2em 0.5em 0.3em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}